<header class="page-header">
<h1>Signup! &raquo;</h1>
</header>

<%= form_for :user, url: '/users' do |f| %>
  <section>
  <div class="form-group">
  Name: <%= f.text_field :name %>
  </div>
  <br>
  <div class="form-group">
  Email: <%= f.text_field :email %>
  </div>
  <br>
  <div class="form-group">
  Password: <%= f.password_field :password %>
  </div>
  <br>
  <div class="form-group">
  Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>
  </section>
  <br>
  <%= f.submit "Submit" %>

<% end %>
